{% extends "App1/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<br>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenido al sitio</h1>
            <p class="lead">Aquí podra adminstrar los libros del sitio web</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'Libros' %}" role="button">Comenzar la gestión</a>
            </p>
        </div>
    </div>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}


{% endblock %}