{% extends "App1/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h1>Libros</h1>

<div class="row">

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://imgv2-1-f.scribdassets.com/img/word_document/482613441/original/432x574/a39b856ba0/1654302804?v=1" alt="Title">
            <div class="card-body">
                <h4 class="card-title">El capital en el siglo <br> XXI</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://es.scribd.com/book/482613441/El-capital-en-el-siglo-XXI" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://imgv2-2-f.scribdassets.com/img/word_document/438550925/original/432x574/98fd032b7d/1648495760?v=1" alt="Title">
            <div class="card-body">
                <h4 class="card-title">I Ching: El Libro de los Cambios</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://es.scribd.com/book/438550925/I-Ching-El-Libro-de-los-Cambios" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://imgv2-2-f.scribdassets.com/img/word_document/282865391/original/432x574/09ed62cc0b/1684514634?v=1" alt="Title">
            <div class="card-body">
                <h4 class="card-title">La Iliada: Clásicos de la literatura</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://es.scribd.com/book/282865391/La-Iliada-Clasicos-de-la-literatura" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://imgv2-1-f.scribdassets.com/img/word_document/282697518/original/432x574/5e465510a3/1682357783?v=1" alt="Title">
            <div class="card-body">
                <h4 class="card-title">El retrato de Dorian Gray: Clásicos</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://es.scribd.com/book/282697518/El-retrato-de-Dorian-Gray-Clasicos-de-la-literatura" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>



</div>


{% endblock %}